<div id="wrapper" style="padding: 15.25rem;padding-top: 145px;">
    <div class="card card-authentication1  ">
        <div class="card-body">
            <div class="card-content p-2">
                <div class="text-center">
                    <img src="assets/images/lg.png" alt="logo icon" width="200">
                </div>
                <div class="card-title text-uppercase text-center py-3">OTP</div>

                <form [formGroup]="otpForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="OTP">Check your message for OTP</label>
                        <input type="password" formControlName="otp" class="form-control" placeholder="One Time password"
                            [ngClass]="{ 'is-invalid': submitted && f.otp.errors }" />
                        <div *ngIf="submitted && f.otp.errors" class="invalid-feedback">
                            <div *ngIf="f.otp.errors.required">OTP is required</div>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">Submit</button>
                    </div> -->

                    <div class="form-group">
                        <button [disabled]="loading"
                            class="btn btn-primary shadow-primary btn-block waves-effect waves-light">Submit</button>


                        <!-- <button [disabled]="loading" class="btn btn-primary">Submit</button> -->
                    </div>
                </form>


            </div>
        </div>
        <div class="card-footer text-center py-3">
            <p class="text-muted mb-0">Not yet Registered? <a routerLink="/register"> Sign Up here</a></p>
        </div>
    </div>
</div>