

<header class="topbar-nav" *ngIf="currentUser">
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white">

    <!-- Sidebar toggle (keeps working as before) -->
    <ul class="navbar-nav align-items-center">
      <li class="nav-item">
        <a class="nav-link toggle-menu" (click)="toggleSidebar()" role="button" aria-label="Toggle sidebar">
          <i class="icon-menu menu-icon"></i>
        </a>
      </li>
    </ul>

    <!-- Navbar toggler for small screens (collapses the right-side items) -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topbarNav" aria-controls="topbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Right side items (notifications, language, profile) -->
    <div class="collapse navbar-collapse" id="topbarNav">
      <ul class="navbar-nav ml-auto align-items-center right-nav-link">
        <li class="nav-item dropdown-lg">
          <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="#">
            <i class="fa fa-bell-o"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                You have 3 Notifications
                <span class="badge badge-danger">3</span>
              </li>
              <li class="list-group-item">
                <a href="">
                  <div class="media">
                    <i class="zmdi zmdi-notifications-active fa-2x mr-3 text-secondary"></i>
                    <div class="media-body">
                      <h6 class="mt-0 msg-title">New User added</h6>
                    </div>
                  </div>
                </a>
              </li>
              <li class="list-group-item">
                <a href="">
                  <div class="media">
                    <i class="zmdi zmdi-notifications-active fa-2x mr-3 text-secondary"></i>
                    <div class="media-body">
                      <h6 class="mt-0 msg-title">New Orders</h6>
                    </div>
                  </div>
                </a>
              </li>
              <li class="list-group-item">
                <a href="">
                  <div class="media">
                    <i class="zmdi zmdi-notifications-active fa-2x mr-3 text-secondary"></i>
                    <div class="media-body">
                      <h6 class="mt-0 msg-title">New Item Added</h6>
                    </div>
                  </div>
                </a>
              </li>
              <li class="list-group-item"><a href="">See All Notifications</a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item language">
          <a class="nav-link waves-effect"><i class="flag-icon flag-icon-in"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
            <span class="user-profile">
              <img [src]="'data:image/jpeg;base64,'+user.pic" alt="profile-image" class="img-circle user-avatar" />
            </span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-item user-details">
              <a href="">
                <div class="media">
                  <div class="avatar">
                    <img class="align-self-start mr-3 user-avatar" [src]="'data:image/jpeg;base64,'+user.pic" alt="profile-image" />
                  </div>
                  <div class="media-body">
                    <h6 class="mt-2 user-title">{{ user?.name || 'User' }}</h6>
                    <p class="user-subtitle">{{ user?.email }}</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item"><a routerLink="my-profile"><i class="icon-user mr-2"></i> Account</a></li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item"><a (click)="logout()"><i class="icon-power mr-2"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </nav>
</header>
 <!--End topbar header-->
