<div class="vendor-slider-wrapper">
  <div class="vendor-slider-container" #sliderContainer (scroll)="onScroll()">
    <div class="vendor-card" *ngFor="let i of outlets; let idx = index" (click)="getShopItemsByShopId(i)">
      <div class="vendor-image">
        <img [src]="'data:image/jpeg;base64,'+i.pic" alt="{{i.name}}">
        <div class="image-overlay">
          <i class="zmdi zmdi-eye"></i>
        </div>
      </div>
      <div class="vendor-info">
        <h4 class="vendor-name">{{i.name}}</h4>
        <p class="vendor-description" *ngIf="i.description">{{i.description}}</p>
      </div>
    </div>
  </div>
  
  <div class="slider-indicators" *ngIf="outlets && outlets.length > 1">
    <span 
      class="indicator-dot" 
      *ngFor="let outlet of outlets; let i = index" 
      [class.active]="i === currentSlide"
      (click)="goToSlide(i)">
    </span>
  </div>
</div>
