<nav class="navbar navbar-expand-lg navbar-light bg-light d-print-none">

    <ul class="navbar-nav mr-auto align-items-center">
        <li>
            <div class="col"><a class="navbar-brand" routerLink='/products'><img src="/assets/images/lg.png"
                        class="logo mr-2" /></a>
            </div>
        </li>

    </ul>
    <ul class="navbar-nav mr-auto align-items-center">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink='/products'>Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink='/address/list'>Address</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink='/orders'>Orders</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink='/profile/my-profile'>Profile</a>
        </li>
        <li class="nav-item" *ngIf="currentUser">
            <a class="nav-link" routerLinkActive="active" (click)="logout()" routerLink='/checkout'>Logout</a>
        </li>
    </ul>
    <div *ngIf="currentUser">
        <h6 class="mt-2 user-title">Hello {{currentUser.name}}</h6>
    </div>
    <ul class="navbar-nav align-items-center right-nav-link">
        <li class="dropdown-divider"></li>
        <li class="dropdown-item user-details">
            <a href="javaScript:void();">
                <div class="media">
                    <div class="avatar"><img class="align-self-start mr-3" src="assets/images/mypic.jpg"
                            alt="user avatar"></div>
                    <div class="media-body">
                        <h6 class="mt-2 user-title">{{currentUser.name}}</h6>
                        <p class="user-subtitle">{{currentUser.email}}</p>
                        <p class="user-subtitle">{{currentUser.contact}}</p>
                    </div>
                </div>
            </a>
        </li>
    </ul>

</nav>