<menu></menu>
<div class="content-wrapper" style="margin-left: 0px!important; margin-top: 2px;">
    <div class="container-fluid">
        <!-- Breadcrumb-->
        <div class="row pt-2 pb-2">
            <div class="col-sm-9">
                <h4 class="page-title">My Profile</h4>

            </div>

        </div>

        <div class="row equal-height-row">
            <div class="col-lg-4">
                <div class="card profile-card-2">
                    <div class="card-header-gradient"></div>
                    <div class="card-body text-center pt-5">
                        <div class="profile-img-wrapper">
                            <div class="image-loader" *ngIf="!imageLoaded"></div>
                            <img [src]="'data:image/jpeg;base64,'+user.pic" 
                                 alt="profile-image" 
                                 class="profile-img"
                                 (load)="onImageLoad()"
                                 [style.display]="imageLoaded ? 'block' : 'none'">
                        </div>
                        <h5 class="card-title mt-3">{{user.name}}</h5>
                        <!-- <p class="card-text">{{user.description}}</p> -->
                        <div class="icon-block">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-tabs nav-tabs-primary top-icon nav-justified">
                            <li class="nav-item">
                                <a class="nav-link" [class.active]="activeTab === 'profile'" (click)="onProfileTabClick($event)"><i
                                        class="icon-user"></i> <span class="hidden-xs">Profile</span></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" [class.active]="activeTab === 'edit'" (click)="onEdit()"><i class="icon-note"></i>
                                    <span class="hidden-xs">Edit</span></a>
                            </li>
                        </ul>
                        <div class="tab-content p-3">
                            <div class="tab-pane" [class.active]="activeTab === 'profile'" [hidden]="activeTab !== 'profile'" id="profile">

                                <div class="form-group row">

                                    <label class="col-lg-3 col-form-label form-control-label">Name</label>
                                    <div class="col-lg-9" style="margin-bottom: 15px;">

                                        <span>{{user.name}}</span>
                                    </div>
                                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                                    <div class="col-lg-9" style="margin-bottom: 15px;">

                                        <span>{{user.email}}</span>
                                    </div>
                                    <label class="col-lg-3 col-form-label form-control-label">Phone</label>
                                    <div class="col-lg-9" style="margin-bottom: 15px;">

                                        <span>{{user.contact}}</span>
                                    </div>
                                </div>
                            </div>
                         
                            <div class="tab-pane" [class.active]="activeTab === 'edit'" [hidden]="activeTab !== 'edit'" id="edit">
                                    <form *ngIf="editForm" [formGroup]="editForm" (ngSubmit)="onSubmit()">
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Name</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" formControlName="name" type="text">
                                                <!-- <input   formControlName="id" type="text"  hidden> -->
    
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Email</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" formControlName="email" type="email">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Phone</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" type="text" formControlName="contact" readonly>
                                            </div>
                                        </div>
    
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Change profile
                                                Image</label>
                                            <div class="col-lg-9">
                                                <app-upload-image (messageEvent)="receiveMessage($event)"
                                                    [receivedParentMessage]="messageToSendP">
                                                </app-upload-image>
                                            </div>
                                        </div>
    
    
    
    
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label"></label>
                                            <div class="col-lg-9">
                                                <button type="submit" class="btn btn-success" [disabled]="!hasUnsavedChanges"><i
                                                        class="zmdi zmdi-upload"></i> Save Changes</button>
                                                <button type="button" class="btn btn-outline-secondary ml-2" (click)="onCancel()">
                                                    <i class="zmdi zmdi-close-circle"></i> Cancel
                                                </button>
                                            </div>
                                        </div>
                                        
                                    </form>
                                </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- End container-fluid-->
</div>
<!--End content-wrapper-->

<!-- Custom Confirmation Modal -->
<div class="custom-modal-overlay" *ngIf="showCancelModal" (click)="cancelDiscard()">
    <div class="custom-modal" (click)="$event.stopPropagation()">
        <div class="modal-header-custom">
            <i class="zmdi zmdi-alert-triangle"></i>
            <h4>Unsaved Changes</h4>
        </div>
        <div class="modal-body-custom">
            <p>You have unsaved changes. Are you sure you want to discard them?</p>
        </div>
        <div class="modal-footer-custom">
            <button class="btn-custom btn-cancel" (click)="cancelDiscard()">
                <i class="zmdi zmdi-close"></i> Keep Editing
            </button>
            <button class="btn-custom btn-confirm" (click)="confirmDiscard()">
                <i class="zmdi zmdi-check"></i> Discard Changes
            </button>
        </div>
    </div>
</div>

<!-- Success Modal -->
<div class="custom-modal-overlay" *ngIf="showSuccessModal" (click)="closeSuccessModal()">
    <div class="custom-modal success-modal" (click)="$event.stopPropagation()">
        <div class="modal-header-custom modal-header-success">
            <i class="zmdi zmdi-thumb-up"></i>
            <h4>Profile Updated!</h4>
        </div>
        <div class="modal-body-custom">
            <p>Your profile has been successfully updated.</p>
        </div>
        <div class="modal-footer-custom">
            <button class="btn-custom btn-success-ok" (click)="closeSuccessModal()">
                <i class="zmdi zmdi-check-all"></i> OK
            </button>
        </div>
    </div>
</div>
