<div class="row">

  <div class="col-sm-6">
    <div>
      <input type="file" (change)="onFileChanged($event)" class="btn btn-info btn-xs">

    </div>
  </div>
  <div class="col-sm-6 d-flex align-items-start">
    <input type="button" (click)="onUpload()" value="upload" class="btn btn-info btn-xs imgUploadBtn ms-2">
  </div>
</div>
<div class="row">
    <div class="col-sm-6">
    <img [src]="imgURL" class="img-fluid" style="max-height:100px;" *ngIf="imgURL" alt="N/A">
  </div>


  <div class="col-sm-6">
    <div *ngIf='dispalyPreview'>
      <span>Preview:</span>
      {{childMessage}}
  <img class="preImg img-fluid" style="max-height:100px;" [src]="convertedImage">
    </div>
  </div>
</div>