.btn-info{
    background-color: #4e6c73  !important;
    border-color: #323a3c !important;
}
.imgUploadBtn{
    padding: 13px 20px !important;
    border-radius: 0px !important;
    width: 76% !important;
    background: #25434a !important;

}
.preImg{
    float: right !important;
}