<div class="content-wrapper">
  <div class="container-fluid">
    <!--Start Dashboard Content-->

    <div class="row mt-3">
      <div class="col-12 col-lg-6 col-xl-3">
        <div class="card gradient-bloody">
          <div class="card-body">
            <div class="media align-items-center">
              <div class="media-body">
                <p class="text-white">Total Orders</p>
              <h4 class="text-white line-height-5">
  {{ totalOrders }}
</h4>
              </div>
              <div class="w-circle-icon rounded-circle border border-white">
                <i class="fa fa-cart-plus text-white"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-3">
        <div class="card gradient-scooter">
          <div class="card-body">
            <div class="media align-items-center">
              <div class="media-body">
                <p class="text-white mb-2">Total Revenue</p>
      <h4 class="text-white mb-0">
        ₹ {{ totalRevenue | number:'1.0-0' }}
      </h4>
              </div>
              <div class="w-circle-icon rounded-circle border border-white">
                <i class="fa fa-money text-white"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-3">
        <div class="card gradient-blooker">
          <div class="card-body">
            <div class="media align-items-center">
              <div class="media-body">
                <p class="text-white">Total Users</p>
                <h4 class="text-white line-height-5" *ngIf="userscount">
                  {{ userscount.NumberOfUsers || userscount.numberOfUsers || userscount.count || userscount.length }}
                </h4>
              </div>
              <div class="w-circle-icon rounded-circle border border-white">
                <i class="fa fa-user text-white"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-3">
        <div class="card gradient-ohhappiness">
          <div class="card-body">
            <div class="media align-items-center">
              <div class="media-body">
                <p class="text-white">Total Customer</p>
                <h4 class="text-white line-height-5" *ngIf="userAsCustomer">
                  {{ userAsCustomer.numberOfCustomer || userAsCustomer.numberOfCustomers || userAsCustomer.count || userAsCustomer.length }}
                </h4>
              </div>
              <div class="w-circle-icon rounded-circle border border-white">
                <i class="fa fa-users text-white"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End Row-->


   <div class="row">
  <app-dashboard3></app-dashboard3>
</div>


    <!--End Row-->

    <!-- Users List -->
    <div class="row">
      <div class="col-12 col-lg-12 col-xl-12">
        <div class="card">
          <div class="card-header border-0">
            New Customer List
            <div class="card-action">
              <div class="dropdown">
                <a
                  href="javascript:void();"
                  class="dropdown-toggle dropdown-toggle-nocaret"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="icon-options"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead>
                <tr>
                  <th>Photo</th>
                  <th>Name</th>
                  <th>Mobile</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
  <tr *ngFor="let customer of userAsCustomer">
    <img
  [src]="'data:image/png;base64,' + customer?.pic"
  class="rounded-circle customer-img"
  alt="customer avatar"
/>

    <td>{{ customer.name }}</td>
    <td>{{ customer.contact }}</td>
    <td>{{ customer.email }}</td>
  </tr>
</tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Vendors List -->

     <div class="row">
      <div class="col-12 col-lg-12 col-xl-12">
        <div class="card">
          <div class="card-header border-0">
            New Vendors List
            <div class="card-action">
              <div class="dropdown">
                <a
                  href="javascript:void();"
                  class="dropdown-toggle dropdown-toggle-nocaret"
                  data-toggle="dropdown"
                >
                  <i class="icon-options"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead>
                <tr>
                  <th>Photo</th>
                  <th>Shop Name</th>
                  <th>Shop Contact</th>
                  <th>Shop Address</th>
                </tr>
              </thead>
              <tbody>
  <tr *ngFor="let vendor of userAsVendor">
    <td>
        <img
  [src]="'data:image/png;base64,' + vendor?.pic"
  class="rounded-circle customer-img"
  alt="vendor avatar"
/>
    </td>
    <td>{{ vendor.name }}</td>
    <td>{{ vendor.contact }}</td>
    <td>
     <!-- address might not be available immediately -->
  <div *ngIf="vendor.address">
    <!-- <p>{{ vendor.address.line1 }}</p> -->
    <p>{{ vendor.address.city }}, {{ vendor.address.state }}</p>
    <!-- <p>{{ vendor.address.country }}</p> -->
  </div>
  </td>
  </tr>
</tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="table-responsive">
  <table class="table align-items-center table-flush">
    <thead>
      <tr>
        <th>Date</th>
        <th>Photo</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>Amount</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let row of top5Orders">
        
        <!-- DATE -->
        <td>{{ row?.date }}</td>

        <!-- PHOTO -->
        <td>
          <img
            *ngIf="row?.productImage; else fallbackImg"
            [src]="'data:image/jpeg;base64,' + row.productImage"
            class="product-img"
            alt="product"
          />
          <ng-template #fallbackImg>
            <img src="assets/images/default-product.png" class="product-img" />
          </ng-template>
        </td>

        <!-- PRODUCT NAME -->
        <td>{{ row?.productName || 'Loading...' }}</td>

        <!-- QUANTITY -->
        <td>{{ row?.qty || 0 }}</td>

        <!-- STATUS -->
        <td>
          <span class="btn btn-sm btn-outline-success btn-round btn-block">
            {{ row?.status }}
          </span>
        </td>

        <!-- AMOUNT -->
        <td>&#x20B9; {{ row?.amount || 0 }}</td>
      </tr>
    </tbody>
  </table>
</div>

    <!--End Row-->

    <!--End Dashboard Content-->
  </div>
  <!-- End container-fluid-->
</div>
<!--End content-wrapper-->
