<div class="row">

  <div class="col-md-6">
    <div class="custom-file-upload">
      <input type="file" 
             id="fileInput" 
             (change)="onFileChanged($event)" 
             accept="image/*"
             class="file-input-hidden">
      <label for="fileInput" class="file-upload-label">
        <div class="upload-icon">
          <i class="zmdi zmdi-cloud-upload"></i>
        </div>
        <div class="upload-text">
          <span class="primary-text">Choose an image</span>
          <span class="secondary-text">or drag and drop here</span>
        </div>
        <div class="upload-hint">PNG, JPG up to 5MB</div>
      </label>
      
      <!-- Image Preview -->
      <div *ngIf="imgURL" class="image-preview-container">
        <img [src]="imgURL" class="preview-image">
        <button 
          type="button" 
          class="btn-remove-image" 
          (click)="onRemoveImage()" 
          title="Remove image">
          <i class="zmdi zmdi-close"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="col-sm-3"> 
    <button type="button" (click)="onUpload()" 
           class="btn-upload" 
           [disabled]="!isFileSelected || isUploading"
           [class.disabled]="!isFileSelected">
      <i class="zmdi zmdi-cloud-upload"></i> Upload
    </button>
  </div>
  <div class="col-sm-3">
    <!-- Uploading Loader -->
    <div *ngIf='isUploading' class="upload-status">
      <div class="mini-spinner"></div>
      <span class="status-text">Uploading...</span>
    </div>
    
    <!-- Success after upload -->
    <div *ngIf='dispalyPreview && !isUploading' class="upload-status success">
      <i class="zmdi zmdi-check-circle success-icon"></i>
      <span class="status-text">Uploaded!</span>
      <!-- Preview thumbnail -->
      <div class="uploaded-preview-wrapper">
        <img [src]="convertedImage" (load)="onImageLoad()" (error)="onImageError()" [hidden]="imageLoading">
        <div *ngIf="imageLoading" class="image-loader">
          <div class="mini-spinner"></div>
        </div>
      </div>
    </div>
  </div>
</div>