
<div class="row">
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-header">Last 7 Days Report</div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas #barCanvas id="barChart"></canvas>

        </div>
      </div>
    </div>
  </div>


  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-header">Most Selling Items</div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas #doughnutCanvas id="doughnutChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">Sales Report</div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas #lineCanvas id="lineChart"></canvas>

        </div>
      </div>
    </div>
  </div>
</div>
