<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="card">
          <div class="card-header">Dashboard 3 - Bar</div>
          <div class="card-body">
            <canvas id="dashboard3-bar-chart" width="400" height="200"></canvas>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div class="card">
          <div class="card-header">Dashboard 3 - Doughnut</div>
          <div class="card-body">
            <canvas id="dashboard3-doughnut-chart" width="400" height="200"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <div class="card">
          <div class="card-header">Dashboard 3 - Sales Line</div>
          <div class="card-body">
            <canvas id="dashboard3-line-chart" width="800" height="250"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
