<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row pt-2 pb-2">
      <div class="col-sm-9">
        <h4 class="page-title">My Profile</h4>
      </div>
      <div class="col-sm-3">
        <div class="btn-group float-sm-right">
          <button type="button" class="btn btn-outline-primary waves-effect waves-light">
            <i class="fa fa-cog mr-1"></i> Setting
          </button>
          <button type="button"
            class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split waves-effect waves-light"
            data-toggle="dropdown">
            <span class="caret"></span>
          </button>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-4">
        <div class="card profile-card-2">
          <div class="card-img-block">
            <img class="img-fluid" src="assets/images/bgg.jpg" alt="Card image cap" />
          </div>

          <div class="card-body myPic">
            <div>
              <img [src]="'data:image/jpeg;base64,' + user.pic" alt="profile-image" class="profile" />
            </div>
            <!-- <img [src]="convertedImage"> -->
            <!-- <h5 class="card-title">{{user.name}}</h5> -->
            <!-- <p class="card-text">{{profile.description}}</p> -->
            <div class="icon-block"></div>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <ul class="nav nav-tabs nav-tabs-primary top-icon nav-justified">
              <li class="nav-item">
                <a href="" data-target="#profile" data-toggle="pill" class="nav-link active"><i class="icon-user"></i>
                  <span class="hidden-xs">Profile</span></a>
              </li>

              <li class="nav-item">
                <a href="" data-target="#edit" data-toggle="pill" class="nav-link"><i class="icon-note"></i>
                  <span class="hidden-xs">Edit</span></a>
              </li>
            </ul>
            <div class="tab-content p-3">
              <div class="tab-pane active" id="profile">
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Name</label>
                  <div class="col-lg-9" style="margin-bottom: 15px;">
                    <span>{{ user.name }}</span>
                  </div>
                  <label class="col-lg-3 col-form-label form-control-label">Email</label>
                  <div class="col-lg-9" style="margin-bottom: 15px;">
                    <span>{{ user.email }}</span>
                  </div>
                  <label class="col-lg-3 col-form-label form-control-label">Phone</label>
                  <div class="col-lg-9" style="margin-bottom: 15px;">
                    <span>{{ user.contact }}</span>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="edit">
                <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Name</label>
                    <div class="col-lg-9">
                      <input class="form-control" formControlName="name" type="text" value="{{ user.name }}" />
                      <input   formControlName="id" type="text"  hidden>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                    <div class="col-lg-9">
                      <input class="form-control" formControlName="email" type="text" value="{{ user.email }}" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Phone</label>
                    <div class="col-lg-9">
                      <input class="form-control" type="text" formControlName="contact" readonly
                        value="{{ user.contact }}" />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Change profile Image</label>
                    <div class="col-lg-9">
                      <app-upload-image  (messageEvent)="receiveMessage($event)"
                        [receivedParentMessage]="messageToSendP">
                      </app-upload-image>
                    </div>
                  </div>
                 

                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                      <button type="submit" class="btn btn-primary">
                        <i class="fa fa-check-square-o"></i> Update
                      </button>
                      <a type="button" class="btn btn-info" style="margin-left: 10px;"href="javascript:history.go(-1)">Go Back</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>