table .zmdi{
  color: #fff !important;
}
.img-wrap img{
  height: 250px !important;
}
figcaption{
  margin-top: 3%;
}
// .img-wrap{
//   border-bottom: 1px solid silver;
// }
.title{
  color:chocolate;
  background: aliceblue;
}
.btn-sm {
  padding: 2px 11px !important;
}
.price-new{
  font-weight: 700;
    color: #212121;
}
.price-old{
  color: #969696;
    font-weight: 700;
}